body {
	background: url(../../assets/images/download.jpeg) no-repeat;
	background-size: cover;
}

.container {
	border: solid 4px white;
	text-align: center;
	margin-top: 130px;
	font-family: 'Staatliches', cursive;
	color: white;
}

 
 button.answerchoice {
	display: none;
} 

button:hover {
	background-color: blue;
	color: white;
}

